*

# Config
!.config/
.config/*

!.config/ly
!.config/sxhkd
!.config/dwm
!.config/st
!.config/nvim
!.config/nvim/templates
.config/nvim/templates/*
!.config/nvim/templates/*

# Local
!.local/
.local/*

!.local/bin
.local/bin/*

!.local/bin/switch_governor
!.local/bin/set_wallpaper
!.local/bin/dwm_bar

# Home
!.gitignore
!.xinitrc
!.bashrc
!.packages
!.bash_profile
